[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx-testing = "*"
pytest = "*"
beautifulsoup4 = "*"
mypy = "*"

[packages]

[requires]
python_version = "3.8"

[scripts]
build = "python3 setup.py sdist bdist_wheel"
build_revealjs = "sphinx-build -b revealjs tests/examples/test_revealjs tests/examples/test_revealjs/_build"
test = "pytest tests"
