@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Source+Sans+Pro:400,400i,700,700i,600,600i&display=swap');
@import './common/vars.css';
@import './common/theme.css';
@import './common/print.css';
@import './handouts/admonitions.css';
@import './handouts/fillin.css';
@import './handouts/mcq.css';

:root {
  --sidebar-width: 300px;
  --page-padding: 15px;
  --content-max-width: 750px;
  --menu-bar-height: 50px;
  --links: var(--brandColor);
  --scrollbar: rgb(0 0 0 / 38%);
}

body {
  overflow-x: hidden;
}

/* TOC */
#sidebar {
  background: var(--darkGray);
  color: var(--gray);
  font-size: 1em;

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    & > li > ul {
      margin-bottom: 1em;
      padding-left: 1em;
      font-size: 0.9em;
    }
  }

  a {
    color: inherit;
  }

  li {
    margin: 0.5rem 0;

    &.current {
      color: white;
      font-weight: bold;
    }
  }
}

button {
  &:active, &:hover {
    background-color: #f2f2f247;
  }
}

#menu-bar {
  background-color: var(--brandColor);
  border-bottom: 1px solid var(--brandColor);
  color: white;
}

.menu-title {
  font-size: 1.2em;
}

.nav-chapters, .mobile-nav-chapters {
  color: var(--brandColor);

  &:visited {
    color: var(--brandColor);
  }
}

.page {
  outline: 0;
  padding: 0 var(--page-padding);
  margin-top: calc(0px - var(--menu-bar-height)); /* Compensate for the #menu-bar-hover-placeholder */
}

.js:not(.sidebar-resizing) .page-wrapper {
  transition: margin-left 0.3s ease, transform 0.3s ease; /* Animation: slide away */
}

.content {
  overflow-y: auto;
  padding: 0 15px;
  padding-bottom: 50px;
  main {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content-max-width);
  }
}

.icon-button {
  border: none;
  background: none;
  border-radius: 0;
  margin: unset;
  height: unset;
  display: unset;
}

.section .section {
  padding-left: 0;
}
